<?xml version="1.0" encoding="utf-8" ?>
<SobekCM_Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://sobekrepository.org/schemas/sobekcm_config"
	xsi:schemaLocation="http://sobekrepository.org/schemas/sobekcm_config
		http://sobekrepository.org/schemas/sobekcm_config.xsd">
  
  <!-- This code describes the actual extension and sets some top level inforation -->
  <Extension code="RTI" name="Reflectance Transformation Imaging Item Viewer" version="1.0" >

    <!-- Administrative information about this plugin -->
    <AdminInfo>
      <Description>This plug-in adds a new item viewer for Reflectance Transformation Imaging (RTI) content using the WebRTIViewer.</Description>
      <Authors>
        <Author name="Bernardy, Richard" email="rbernard@usf.edu" />
        <Author name="Sullivan, Mark" email="Mark.V.Sullivan@sobekdigital.com" />
      </Authors>
      <Permissions>Copyright 2016 by University of South Florida.  For permission to use this plugin in your repository, contact Richard Bernardy.</Permissions>
    </AdminInfo>

    <!-- Reference one of more assemblies (referenced relative to the plugin folder) -->
    <Assembly id="RTI" name="RTI.dll" />
  </Extension>

  <WriterViewers ClearAll="false">                                           -->
    <SpecialWriters>
	  <ItemWriter>
        <ItemViewers>
          <ItemViewer type="RTI" viewerCode="rti" assembly="RTI" class="RTI.RTI_ItemViewer_Prototyper" enabled="true" />
        </ItemViewers>
      </ItemWriter>
    </SpecialWriters>      
  </WriterViewers>
  
</SobekCM_Config>